/** Global Configurations **/

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto Serif', sans-serif;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

/** Header **/

header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

header h1 {
    font-size: 60px;
    margin: 40px auto 15px auto;
}

/** Header > Nav **/

/* nav {
    display: flex;
    flex-direction: column;
}

nav a {
    color: white;
    font-size: 28px;
    margin-bottom: 20px;
    text-decoration: none;
} */

/** Section 1 Presentation **/

.presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.presentation h2 {
    margin: 20px auto 10px auto;
}

/** Section 1 > Images **/

.avatar-image {
    border: 3px dotted white;
    border-radius: 50%;
    width: 300px;
    margin-bottom: 30px;
}

.image-links {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 50px;
    margin: 0 auto;
    width: 200px;
    margin-bottom: 30px;
    padding-top: 5px;
}

.github-icon, .linkedin-icon {
    width: 50px;
}

/** Section 1 About Me **/

.info {
    width: 320px;
    margin: 0 auto;
}

.info h2 {
    font-size: 35px;
}

.info p {
    font-size: 20px;
    text-align: left;
    line-height: 28px;
}

/** Section 2 Technologies **/

.technologies {
    margin-top: 40px;
    text-align: center;
}

.technologies h2 {
    margin-bottom: 20px;
    font-size: 35px;
}

/** Section 2 Technologies Images **/

.technologies-images {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 80px;
    width: 200px;
}

.technologies-images img {
    width: 80px;
}

.github-icon-tech {
    width: 80px;
}