/** Global Configurations **/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: black;
    color: white;
    font-size: 1.8rem;
    font-family: 'Roboto Serif', sans-serif;
    margin-left: 35rem;
    margin-right: 35rem;
}

/** Header **/

header h1 {
    color: white;
    font-size: 5rem;
}

/** Nav Bar **/

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar-items a {
    color: white;
    font-size: 3rem;
    margin-right: 8rem;
    text-decoration: none;
    transition: .5s
}

.navbar-items a:last-child {
    margin-right: 0;
}

.navbar-items a:hover {
    color: yellow;
}

/** About Me Section **/

.about-me {
    display: flex;
    margin-top: 15rem;
    justify-content: space-between;
}

.about-me p {
    font-size: 3rem;
    line-height: 4rem;
    text-align: justify;
}

.about-me h2 {
    font-size: 7rem;
    margin-top: -.4rem;
}

.svg-image {
}

.svg-image img {
    border: 2.5px solid white;
    border-radius: 50%;
    width: 50rem;
}

/** Image Links **/

.image-links img {
    margin-top: 4px;
    width: 6rem;
}

.image-links {
    background-color: white;
    border-radius: 3rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 2rem;
    width: 20rem;
}

.image-links img:hover {
    cursor: pointer
}

/** My Projects Section **/

.projects h1 {
    margin-top: 15rem;
    text-align: center;
}

/** Contact Me Section **/

.contact h1 {
    margin-top: 15rem;
    text-align: center;
}
